@import url('./reset.css');
@import url('./typography.css');
@import url('./setup.css');

.header--flex{
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header--flex ul{
    display: flex;
    gap: 12px;
}

.header--grid{
    padding: 1rem 0.5rem;
    display: grid;
    grid-template-columns: 50px 1rem;
    align-items: center;
}

.header--grid ul{
    display: grid;
    grid-template-columns: repeat(5, 80px);
}

.list--grid{
    display: grid;
    grid-template-columns: (3, 1fr);
    gap: 12px;
}

.list--flex{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.list--flex li{
    width: calc((100% - 24px) / 3);
}